section {
left: 250px !important;
width: 75% !important;
}

aside {display: block !important;}

[class^="icon-"],
[class*="icon-"]{
font-family: fontawesome !important;
}

.generic-content-wrapper {
width: auto !important;
}
