.wall-item-content-wrapper {
max-width: 95% !important;
min-width: 95% !important;
margin-left: auto;
margin-right: auto;
}
.thread-wrapper.toplevel_item {
width: 100% !important;
}
.wall-item-content img {
max-width: 95%;
}

/* Endless scroll kicks in early in APW
and thus, single posts collapse */

section {
 height: 200000px;
}
