.app-container {
	float: left;
	width: 125px;
	padding: 20px;
}

/* Comment out to see why.  If you've got
a better idea, go for it */
.generic-content-wrapper {
width: 640px !important;
}

nav {display: none !important;}

section {
left: 250px !important;
width: 75% !important;
}

aside {
	display: block !important;
}

ul {
	left: 10px;
	background: #000;
	border-radius: 5px 5px 5px 5px;
	opacity: 0.95;
	padding: 8px;
}
.widget li {
        list-style-type: none;
	margin: 3px;
}

.widget h3 {
	display: none;
}
